node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Paraglide
src/lib/paraglide
project.inlang/cache/
.kiro/steering/lean-ctx.md
/scratch
*.mjs
lh_blog_detail.json
lh_blog.json
lh_booking.json
lh_faq.json
lh_fleet_detail.json
lh_fleet.json
lh_home.json
lh_summary_all.json
