body {
    background: transparent;
}

.mb-clipboard-notification-box {
    background: #1F222D;
  }

  .mb-text {
    color: white;
  }

  .mb-box-header-content {
    background: #15151C;
  }

  .mb-top {
    background: #15151C;
  }

  svg {
   fill: #ffffff;
  }

  .mb-top-banner {
  fill: #15151C;
  }

  .mb-top-banner-text {
   fill: #fff;
  }

  #mb-disable-shell-warning {
    color: #9EB2EB !important;
    background: none;
  }